
.clients-list {
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .clients-list .link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid $social-color;
    border-radius: 4px;
  
    transition-property: border, background, color;
    transition-duration: $transition-duration;
    transition-timing-function: $timing-function;
  }
  
  .client-icon {
    fill: $social-color;
    width: 106px;
    height: 60px;
  
    transition-property: fill;
    transition-duration: $transition-duration;
    transition-timing-function: $timing-function;
  }
  
  .clients-list .link:hover,
  .clients-list .link:focus {
    border: 1px solid $accent-color;
  }
  
  .clients-list .link:hover .client-icon,
  .clients-list .link:focus .client-icon {
    fill: $accent-color;
  }
  
  .clients-list .item:not(:last-child) {
    margin-right: 30px;
  }
  