.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .features-list {
    display: flex;
  
    padding-left: 0;
  }
  
  .features-list__item {
    width: 270px;
  }
  
  .features-list__item:not(:last-child) {
    margin-right: 30px;
  }
  
  .features-list__item::before {
    display: block;
    content: "";
  
    height: 120px;
  
    background: $second-background-color;
    border-radius: 4px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  
    margin-bottom: 30px;
  }
  
  .icon-antenna::before {
    background-size: 70px;
    background-image: url("../images/antenna.svg");
  }
  
  .icon-clock::before {
    background-size: 70px;
    background-image: url("../images/clock.svg");
  }
  
  .icon-diagram::before {
    background-size: 70px;
    background-image: url("../images/diagram.svg");
  }
  
  .icon-astronaut::before {
    background-size: 70px;
    background-image: url("../images/astronaut.svg");
  }
  
  .features-list__item:not(:last-child) {
    margin-right: 30px;
  }
  
  .features-list__name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    margin-bottom: 10px;
  }
  
  .features-list__about {
    color: $color-gray;
  
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  